[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygments = "*"
requests = "*"
types-requests = "*"
types-pygments = "*"

[dev-packages]
black = "*"
ipython = "*"
pylint = "*"
flake8 = "*"
mypy = "*"
install = "*"
types-requests = "*"
types-pygments = "*"

[requires]
python_version = "3.10"
