-i https://pypi.org/simple
certifi==2025.4.26; python_version >= '3.6'
charset-normalizer==3.4.2; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
pygments==2.19.1; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
types-docutils==0.21.0.20250604; python_version >= '3.9'
types-pygments==2.19.0.20250516; python_version >= '3.9'
types-requests==2.32.0.20250602; python_version >= '3.9'
urllib3==2.4.0; python_version >= '3.9'
